<!DOCTYPE html>
{% load staticfiles %}
<html>

<head lang="en">
	<link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8" />

	<title>
		Rango -
		{% block title_block %}
		Rate my Professsor!
		{% endblock %}
	</title>
</head>

<body>
	<h1>Rate my Professor</h1>

	<main role="main" class="container">

		<div>
			{% block body_block %}
			{% endblock %}
		</div>

	</main>

	<footer class="footer fixed-bottom footer-color" >
		<div class="container">
			<div class="row vertical-middle">
				<div class="col-sm">
						{% if user.is_authenticated %}
						User is logged in
						{% else %}
						<a href="{% url 'rango:register' %}">Register</a>
						|
						<a href="{% url 'rango:login' %}">Login</a>
						{% endif %}
				</div>
				<div class="col-sm text-right" >
						<a href='/rango/recent'>Recent</a>
						|
						<a href='/rango/leaderboard'>Leaderboard</a>
				</div>
			</div>

		</div>
	</footer>
	<!-- /.container -->


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script>
		window.jQuery || document.write(
			'<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
	<link rel='stylesheet' href="{% static 'css/style.css' %}">
</body>

</html>
