{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Professors
{% endblock %}
{% block body_block %}

<h3>Recent Posts</h3>
{% if professors_list %}
{% for prof in professors_list %}
<a href="{% url 'rango:show_professor' prof.slug %}">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 img-middle">
                <img src={{MEDIA_URL}}{{prof.picture}} class="card-img prof_img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{prof.name}}</h5>
                    <p class="card-text">Department: {{prof.subject.dept.name}}</p>
                    <p class="card-text">Subject: {{prof.subject.name}}</p>
                    <p class="card-text"><small class="text-muted">{{prof.rating}}</small></p>
                </div>
            </div>
        </div>
    </div>
</a>

{% endfor %}
{% else %}
<p>No professor items</p>
{% endif %}
{% endblock%}