{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% if professor %}
{{ professor.name }}
{% else %}
Unknown professor
{% endif %}
{% endblock %}
{% block body_block %}
{% if professor %}

<h1>{{ professor.name }}</h1>
<div class="row">
	<div class="col-sm">
		<div class="row">
			<div class="col-sm img-middle">
				<img src={{MEDIA_URL}}{{professor.picture}} alt='professor image' class="card-img prof_img">
			</div>
			<div class="col-sm">
				<p>Department: {{professor.subject.dept.name}} </p>
				<p>Subject: {{professor.subject.name}} </p>
				<p>Average rating: {{professor.rating}} </p>
			</div>
		</div>
	</div>
	<div class="col-sm">

	</div>

</div>
{% if user.is_authenticated %}
<div class="row">
	<div class="col-sm">
	</div>
	
	<div class="col-sm">
		<a href="{% url 'rango:add_review' professor.slug %}">Add Review</a> 
	</div>
	<div class="col-sm">
	</div>
</div>
{% endif %}

{% else %}
The specified category does not exist.
{% endif %}
{% endblock %}