{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Professors
{% endblock %}
{% block body_block %}

<h3>Recent Posts</h3>
{% if professors %}
{% for prof in professors %}
<ul>
    <li>
        <a href="{% url 'rango:show_professor' prof.slug %}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4" style='margin-top:auto;margin-bottom:auto'>
                        <img src=prof.picture style='height:100px;width:100px;' class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">prof.name</h5>
                            <p class="card-text">prof.subject</p>
                            <p class="card-text"><small class="text-muted">prof.rating</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </li>
</ul>
{% endfor %}
{% else %}
<p>No recent items</p>
{% endif %}
{% endblock%}